<div class="juros-box" id="juros-box">
  <div class="ji">
    <div class="ji-l">Valor financiado</div>
    <div class="ji-v g">{{ financing.config().financedAmount | fmtCurrency }}</div>
  </div>
  <div class="ji">
    <div class="ji-l">Total face contrato</div>
    <div class="ji-v m">{{ financing.faceTotal() | fmtCurrency }}</div>
  </div>
  <div class="ji">
    <div class="ji-l">Juros totais</div>
    <div class="ji-v r">{{ financing.totalInterest() | fmtCurrency }}</div>
    <div class="ji-s">{{ effectiveCost().toFixed(1) }}% sobre o capital</div>
  </div>
  <div class="ji">
    <div class="ji-l">Taxa mensal est.</div>
    <div class="ji-v r">{{ monthlyRate().toFixed(2) }}% a.m.</div>
    <div class="ji-s">{{ annualRate().toFixed(1) }}% a.a.</div>
  </div>
  <div class="ji">
    <div class="ji-l">Economia c/ descontos</div>
    <div class="ji-v g">{{ financing.totalDiscount() | fmtCurrency }}</div>
  </div>
</div>
